@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Andika", sans-serif;
    font-weight: 700;
}

.container h1 {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    color: #fff;
    border-radius: 1 solid #fff;
    font-size: 50px;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5),0px rgb(0, 0, 0 0.5);
}

.container {
    width: auto;
    height: auto;
    border: 10px solid skyblue;
    background-size: cover;
    background-position: center;
    text-align: center;
   
    border-radius: 10px;
  
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: none;
}

.search input {
    width: 90%;
    padding: 12px 20px;
    font-size: 25px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family:  Arial,  sans-serif;
    border: none;
}

#cityName {
    font-weight: bold;
    margin-top: -4rem;
}

.search span {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 24px;
    right: 40px;
    cursor: pointer;
    margin-top: 10px;
}

.casumadaha {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* @media (max-width: 767px) {
    .container {
        max-width: 100%;
        border-radius:20px;
        font-size: 10px
    }
} */
/* 
@media screen and (max-width: 768px) and (min-width: 275px) {
    .casumadaha {
        display: flex;
        width: 100%;
        gap: px;
        justify-content: center;
        margin-top: 20px;
        color: #ff0000;
        font-size: 20px;
        font-weight: bold;
    } */

    .search input {
        width: 100%;
        height: 60px;
        font-size: 23px;
        border: 2px solid rgb(0, 0, 0);
        padding: 20px 10px;
        border-radius: 20px;
        cursor: pointer;
    }


.weather {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

/* @media (max-width: 768px) {
    .weather {
        flex-basis: 20%;
    }

    .search input {
        width: 300px;
        flex-basis: 50%;
        height: 40px;
    }
} */

/* @media screen and (max-width: 768px) and (min-width: 275px) {
    .hu, .tem {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 23%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
        border: none;
    } */

    h1 {
        width: 100%;
        font-size: 50px;
    }


#myChart {
    color: #fff;
    font-weight: bold;
    margin-top: 40px;
    height: 100vh;
    color: black;
    background: red;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 768px) and (min-width: 275px) {
    .c #myChart {
        margin: auto;
        margin-top: 40px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */

#tempChart {
    background: #fff;
    color: black;
    margin-top: 40px;
    font-weight: bold;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: block;
    height: 333px;
    width: 666px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


@media (max-width: 768px) {
    .container  {
      width: 100%;
        border-radius:20px;
        font-size: 10px;
        padding : 20px;
    }
    
    .container h1{
        font-size: 35px;
        width: 100%;
    }

    .search input {
        width:983px;
        height: 60px;
        font-size: 23px;
        border: 2px solid rgb(0, 0, 0);
        padding: 20px 10px;
        border-radius: 20px;
        cursor: pointer;
    
        flex-basis: 50%;
        height: 40px;
    }

  
    .weather{
        display: flex;
        font-size: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        width: 100%
        
     
       
     
    }

}




